.box{
    height: 120px;
    width: 120px;
    background-color: aqua;
    margin: 20px;
}

.box.newColor{
    background-color: darkblue;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-color: gray;
}

#grid{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
}